/* Default Styles */
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

@import './fonts';
@import './var';
@import './mixin';

body {
    background-color: black;
    @include Commissioner-Regular;
}

.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

@import './components/header';

@import './components/fotter';


