/* Default Styles */
*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

@import './fonts';
@import './var';
@import './mixin';

body {
    background-color: black;
    @include Commissioner-Regular;
}

.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
   
}

.footer {
    margin-top: auto;
}

@import './components/header';

@import './components/fotter';


